/* Style for the button */
div.stButton > button:first-child {
    width: 100%;
    height: 30px;
    margin-top: 0px;
}

/* Style for the blue slider */
div[data-testid="stSlider"] > div[data-testid="stTickBar"] > div { 
    background-color: rgb(0, 140, 255) !important; 
}

div[data-testid="stSlider"] > div[role="slider"]{
    background-color: rgb(0, 140, 255) !important; 
}